.box {
    min-width: 800px;
}

.list {
    background-color: rgb(72, 74, 80);
    padding: 20px;
}

.list_box {
    font-size: 30px;
    display: inline-block;
    vertical-align: auto;
    text-align: center;
    margin: 0 10px;
}

.list_link:hover{
    background-color: rgb(168, 167, 165);
}

.level1:hover .dropdown {
    background-color: rgb(72, 74, 80);
    display: block; 
}

.level2:hover .dropdown2 {
    background-color: rgb(72, 74, 80);
    display: block;
}


.list_link {
    color: rgb(2, 2, 2);
    padding: 10px 29px;
}

.dropdown {
    position: absolute;
    top: 60px;
    left: 176px;
    padding: 15px 0;
    min-width: 200px;
    display: none;
}

.dropdown_list {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    min-width: 200px;
}

.dropdown2_list {
    font-size: 30px;
    text-align: center;
    min-width: 200px;
    margin: 15px 0;
}

.dropdown2 {
    position: absolute;
    top: 123px;
    left: 200px;
    min-width: 200px;
    display: none;
}

